<img src="../Memes/jobs.jpg" width="250" align="left">

# Operators and Statements

## Table of Contents:
* [1. Operators](#operators)
* [2. Statements](#statements)

<a class="anchor" id="operators"></a>
## 1. Operators

In [3]:
# assignment
x = 5

In [4]:
# comparison
x == 5

True

In [8]:
x >= 5

True

In [9]:
x >= 2

True

In [10]:
x / 2

2.5

In [12]:
x // 2

2

In [7]:
x % 2

1

In [8]:
x % 3

2

In [9]:
x != 5

False

In [17]:
x == 5 and x // 2 == 1

False

In [23]:
x % 2 == 0 or x == 5

True

In [24]:
not (x == 5)

False

<a class="anchor" id="statements"></a>
## 2. Statements

### `if`

Syntax of an `if` statement:

```python
if some_condition:
    # execute some code
elif some_other_condition:
    # execute some code
else:
    # execute some code
```

**Note**: Read order of operations!

In [10]:
if x == 5:
    print("x is equal to 5")

x is equal to 5

In [11]:
if x != 5:
    print("x is not equal to 5")
else:
    print("x is equal to 5")

x is equal to 5

### `for` Loop

Syntax of a `for` loop:
```python
for item_name in my_iterable:
    print(item_name)
```

In [1]:
for num in [1, 2, 3, 4, 5]:
    print(num)

1
2
3
4
5

In [85]:
for num in (1, 2, 3):
    print(num)

1
2
3

In [86]:
for num in {1, 2, 3, 3, 3, 3, 3, 4}:
    print(num)

1
2
3
4

In [79]:
for num in {1: "one", 2: "two", 3: "three"}.items():
    print(num)

(1, 'one')
(2, 'two')
(3, 'three')

In [80]:
for num in {1: "one", 2: "two", 3: "three"}.keys():
    print(num)

1
2
3

In [81]:
for num in {1: "one", 2: "two", 3: "three"}.values():
    print(num)

one
two
three

In [82]:
for num in {1: "one", 2: "two", 3: "three"}:
    print(num)

1
2
3

In [89]:
mylist = []
for char in "python":
    print("Current character is: ", char)
    mylist.append(char)

Current character is:  p
Current character is:  y
Current character is:  t
Current character is:  h
Current character is:  o
Current character is:  n

In [100]:
list("python")

# is identical to the code below
mylist = []
for char in "python":
    mylist.append(char)
    
mylist

['p', 'y', 't', 'h', 'o', 'n']

In [12]:
mylist = ["apple", "banana", "pear"]
for fruit in mylist:
    print(fruit)

apple
banana
pear

In [13]:
mydict = {"Ali": "Mafia", "Mohsen": "Citizen", "Seyed": "Mafia"}
for person in mydict.keys():
    print(person)

Ali
Mohsen
Seyed

In [28]:
for role in mydict.values():
    print(role)

Mafia
Citizen
Mafia

In [109]:
mylist = [("Mohsen Ghodrat", "Mafia"), ("Ali Hejazi", "Citizen"), ("Sara", "Golden Axe")]

In [117]:
for name, role in mylist:
    print(name, '--->', role)

Mohsen Ghodrat ---> Mafia
Ali Hejazi ---> Citizen
Sara ---> Golden Axe

In [118]:
# unpacking of tuples
mylist = [(1, 1), (2, 8), (3, 27), (4, 64)]
for num, power_3 in mylist:
    print(num, power_3, num**3)

1 1 1
2 8 8
3 27 27
4 64 64

In [16]:
# without unpacking
mylist = [(1, 1), (2, 8), (3, 27), (4, 64)]
for item in mylist:
    print(item[0], item[1])

1 1
2 8
3 27
4 64

### `while` Loop

Syntax of a `while` loop:
```python
while some_boolean_condition:
    # do something
else:
    # do something different
```

In [147]:
x = 5
while x > 0:
    print(x)
    x = x - 1
else:
    print('loop finished')

5
4
3
2
1
loop finished

In [31]:
# if there is a break, else is not executed.
# else is only executed when the loop finishes successfully.

x = 5
while x > 0:
    print(x)
    x = x - 1
    
    if x == 1:
        break
else:
    print('loop finished')

5
4
3
2

### `break`, `continue`, and `pass`

In [33]:
# break a loop
for number in range(10):
    print(number)
    if number == 5:
        break

0
1
2
3
4
5

In [34]:
for number_1 in range(5):
    print('---->', number_1)
    for number_2 in range(10):
        print("====>", number_2)
        break

----> 0
====> 0
----> 1
====> 0
----> 2
====> 0
----> 3
====> 0
----> 4
====> 0

In [158]:
num = 5

while num > 0:
    num = num - 1
    print(num)
    if num % 2 == 0:
        break
else:
    print('finished!')

4

In [27]:
# pass for later
x = [1, 2, 3]
for item in x:
    # comment
    pass

In [45]:
# continue
for item in range(10):
    if item % 2 == 0:
        continue
        
    print(item)

1
3
5
7
9

### `enumerate`

In [59]:
for ind, char in enumerate("ABCD"):
    print(ind, '--->', char)

0 ---> A
1 ---> B
2 ---> C
3 ---> D

In [60]:
word = 'abcdefghij'

for index, char in enumerate(word):
    print(index, char)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j

### zip

In [224]:
people = ["Ali", "Mohsen", "Amir"]
roles = ["citizen", "mafia", "unknown"]

for role, name in zip(roles, people):
    print(f"{name} role is {role}")

Ali role is citizen
Mohsen role is mafia
Amir role is unknown

### input

In [69]:
x = input("Please enter a number:")

Please enter a number:10

In [64]:
x = input("Please input a number: ")

Please input a number: 3

In [66]:
type(x)

str

In [67]:
type(int(x))

int

### List Comprehensions

List comprehensions are a unique way of quickly creating a list with python.

If you find yourself using a for loop along with `.append()` to create a list, **List Comprehensions** are a good alternative.

In [69]:
mystring = "hello"

In [70]:
# without list comprehensions
mylist = []

for letter in mystring:
    mylist.append(letter)

In [71]:
mylist

['h', 'e', 'l', 'l', 'o']

In [73]:
# with list comprehensions

mylist = [letter for letter in mystring]

In [74]:
mylist

['h', 'e', 'l', 'l', 'o']

#### Examples

In [26]:
mylist = ["Ali Hejazizo", "Mohsen Ghodrat", "Amir Sajedian"]
first_names = [item.split()[0] for item in mylist]
first_names

['Ali', 'Mohsen', 'Amir']

In [95]:
mylist = [num**2 for num in range(5)]
mylist

[0, 1, 4, 9, 16]

In [109]:
mylist = [(num**2, num**3) for num in range(10) if num % 2 == 0]
mylist

[(0, 0), (4, 8), (16, 64), (36, 216), (64, 512)]

In [11]:
celcius = [-60, -40, 0, 30, 34.5]

fahrenheit = [(9 / 5) * temp + 32 for temp in celcius]

In [12]:
fahrenheit

[-76.0, -40.0, 32.0, 86.0, 94.1]

#### `if else` in List Comprehension

In [87]:
old_list = list(range(10))

In [88]:
new_list = [item if item % 2 == 0 else item**3 for item in old_list]

In [89]:
new_list

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

#### Nested `for` in List Comprehension

> **Not recommended** to use!

In [18]:
list_1 = [1, 2, 3]

In [19]:
list_2 = [4, 5, 6]

In [20]:
# with list comprehension
[i*j for i in list_1 for j in list_2]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [21]:
# the same result with for loop
new_list = []

for i in list_1:
    for j in list_2:
        new_list.append(i*j)
        
new_list

[4, 5, 6, 8, 10, 12, 12, 15, 18]