<img src="../Memes/functions.jpg" width="350" align="left">

# Functions

## Table of Contents:
* [1. Functions](#functions)
* [2. Data Type Functions](#data-type-functions)

<a class="anchor" id="functions"></a>
## 1. Functions

In [1]:
def sum(a, b=3):
    
    output = a + b
    return output

In [3]:
sum(2)

5

In [4]:
sum(2, 7)

9

In [25]:
def sum(a=4, b=10, c=2, d=5):
    
    return ((a ** b) + c) * d

In [26]:
sum(2, 1, 3, 999)

4995

In [27]:
sum(2, 1, 3)

25

In [28]:
sum(2, 1)

20

In [29]:
sum()

5242890

In [14]:
sum(a=2, b=1, c=3, d=999)

4995

In [15]:
sum(b=1, d=999, c=3, a=2)

4995

### Multiple Outputs

In [84]:
def operations_tuple(a, b):
    
    return (a+b, a-b, a*b, a**b, a/b)

In [85]:
output = operations(2, 3)

In [86]:
len(output)

5

In [87]:
type(output)

list

In [88]:
def operations_list(a, b):
    
    return [a+b, a-b, a*b, a**b, a/b]

### Summary
|Type|Example|
|:--|:--|
|Positional Argument|`func(1, 2)`|
|Keyword Argument|`func(a=1, b=2)`|
|Infinite Positional Argument|`def func(*args):`|
|Infinite Keyword Argument|`def func(**kwargs):`|
|Optional Argument|`def func(a=1, b=2):`|
|Required Argument|`def func(a, b):`|

### Pass by Value vs. Pass by Reference

In [28]:
def change(mylist):
    new_list = mylist.copy()
    
    new_list[0] = 999999999
    
    return new_list

In [29]:
list_1 = [1, 2, 3]
list_2 = change(list_1)

In [31]:
list_2

[999999999, 2, 3]

In [32]:
list_1

[1, 2, 3]

In [265]:
a = [1, 2, 3]

In [266]:
b = [1, 2, 3]

In [97]:
a = [10, 20, 30] 
b = [10, 20, 30] 

# return the location 
# where the variable  
# is stored 
print(id(a)) 
  
# return the location 
# where the variable  
# is stored 
print(id(b)) 
  
# returns false if the 
# location is not same 
print(a is b)

140590119993424
140590120927872
False

The output of the above two examples are different because the list is **mutable** and the string is **immutable**. An immutable variable cannot be changed once created. If we wish to change an immutable variable, such as a string, we must create a new instance and bind the variable to the new instance. Whereas, mutable variable can be changed in place.

In [95]:
def foo(a): 
      
    # A new vriable is assigned 
    # for the new string 
    a = "new value"
    print("Inside Function:", a) 
      
      
# Driver's code 
string = "old value"
foo(string) 
  
print("Outside Function:", string)

Inside Function: new value
Outside Function: old value

**Note**: Read about pass by value and pass by reference in functions [here](https://www.geeksforgeeks.org/is-python-call-by-reference-or-call-by-value/#:~:text=Python%20utilizes%20a%20system%2C%20which,being%20passed%20to%20the%20function.)

In [24]:
list_1 = [1, 2, 3]

list_2 = change(list_1)

In [26]:
list_2

[999999999, 2, 3]

In [27]:
list_1

[999999999, 2, 3]

<a class="anchor" id="data-type-functions"></a>
## 2. Data Type Functions

In [ ]:
named_variable != positional_variable

In [198]:
np.array([[1,2,3], [4,5,6]]).T

array([[1, 4],
       [2, 5],
       [3, 6]])

### Convert `float` and `int`

In [72]:
float_num = float(1)

In [73]:
float_num = float(0.3)

In [74]:
int_num = int(0.3)

### String

In [368]:
mystr = "this IS a StRiNg"
print(mystr.upper())
print(mystr.lower())
print(mystr.title())
print(mystr.capitalize())

THIS IS A STRING
this is a string
This Is A String
This is a string

In [22]:
"THIS is uppercase".islower(), "THIS is uppercase".isupper()

(False, False)

In [43]:
mystr = "58"
print(mystr.isalpha())
print(mystr.isdigit())

False
True

In [342]:
mystr = "     so many spaces here                  "
print("--->", mystr.strip(), "<---")

---> so many spaces here <---

In [344]:
mystr = "this is a string"
print(mystr.startswith("this"))
print(mystr.endswith("string"))

True
True

In [9]:
"Ali Hejazizo".center(50)

'                   Ali Hejazizo                   '

In [347]:
"Ali Hejazizo".count("i")

2

#### Find Character or Substring

In [25]:
"line number 222".find("number"), "line number 222".find("2")

(5, 12)

In [28]:
"line number 222".find("2"), "line number 222".rfind("2")

(12, 14)

#### Remove Whitespaces

In [34]:
"     this line has whitespace at the start and at the end        ".strip()

'this line has whitespace at the start and at the end'

In [35]:
"     this line has whitespace at the start        ".rstrip()

'     this line has whitespace at the start'

In [37]:
"     this line has whitespace at the start        ".lstrip()

'this line has whitespace at the start        '

#### String Formatting

In [30]:
car_name = "Ferrari"
location = "parking"
int_num = 5
float_num = 2324.92374923749237

In [23]:
my_str = "there are {} {} car in {}"
my_str.format(int_num, car_name, location)

'there are 5 Ferrari car in parking'

In [24]:
my_str = "there are {0} car in {1}"
my_str.format(int_num, location)

'there are 5 car in parking'

In [ ]:
my_str = "there are {num_people} people in {location}"
my_str.format(num_people=num_people, location=location)

In [25]:
"your number is {float_num:.10}".format(float_num=float_num)

'your number is 2324.923749'

In [31]:
# f-strings
f"a float number with 8 digits: {float_num:.8} "

'a float number with 8 digits: 2324.9237 '

Read More on **f-strings**: https://realpython.com/python-f-strings/

### List

In [359]:
mylist = ["apple", "pear", "banana"]
mylist

['apple', 'pear', 'banana']

In [372]:
mylist.reverse()

In [373]:
mylist

['apple', 'pear', 'banana']

#### Add, Insert, Pop

In [84]:
mylist.append("watermelon")
mylist

['banana', 'pear', 'apple', 'watermelon']

In [85]:
mylist.extend(["mango", "melon", "cucumber", "kiwi"])

In [86]:
mylist.pop()

'kiwi'

In [87]:
mylist

['banana', 'pear', 'apple', 'watermelon', 'mango', 'melon', 'cucumber']

In [88]:
mylist.pop(0)

'banana'

In [89]:
mylist

['pear', 'apple', 'watermelon', 'mango', 'melon', 'cucumber']

In [90]:
mylist.insert(5, "banana")

In [91]:
mylist

['pear', 'apple', 'watermelon', 'mango', 'melon', 'banana', 'cucumber']

In [92]:
mylist.remove("banana")

In [18]:
"line number 2".index("number"), "line number 2".index("2")

(5, 12)

In [94]:
mylist.remove("banana")

ValueError: list.remove(x): x not in list

#### Sort

In [54]:
mylist.sort()
mylist

['apple', 'pear']

#### Find

In [75]:
mylist.index("apple")

1

#### Other

In [55]:
# return a copy of list
mylist.copy()
mylist[:]

['apple', 'pear']

In [61]:
mylist.extend(["apple", "apple"])
mylist.count("apple")

9

In [45]:
# empty list
mylist.clear()

### Dictionary

In [112]:
mydict = {"one": 1, "two": 2, "three": 3}

In [113]:
mydict["one"]

1

In [122]:
mydict["four"]

KeyError: 'four'

In [76]:
mylist

['apple', 'pear', 'banana', 'orange']

In [125]:
print(mydict.get("four"))

None

In [124]:
mydict.get("four", "not found")

'not found'

In [114]:
mydict.keys()

dict_keys(['one', 'two', 'three'])

In [115]:
mydict.values()

dict_values([1, 2, 3])

In [116]:
mydict.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [117]:
# pop returns the value and deletes the item from dictionary
mydict.pop("one")

1

In [119]:
mydict

{'two': 2, 'three': 3}

In [130]:
# update the dict (like extend in list)
mydict.update(
    {
        "four": 4,
        "five": 5,
        "six": 6
    }
)
mydict

{'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

#### Other

In [ ]:
mydict.copy()

In [103]:
mydict.clear()
mydict

{}

In [93]:
mylist.remove("banana")

ValueError: list.remove(x): x not in list

### Tuple

In [131]:
mytuple = (1, 2, 3)
len(mytuple)

3

In [132]:
mytuple.count(3)

1

In [133]:
mytuple.index(3)

2

### Set

In [135]:
set_1 = {1, 2, 3, 1234}
set_2 = {1, 2, 4, 5}

In [136]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 1234}

In [137]:
set_1.intersection(set_2)

{1, 2}

In [138]:
set_1.update(set_2)
set_1

{1, 2, 3, 4, 5, 1234}

In [139]:
set_1.remove(1234)
set_1

{1, 2, 3, 4, 5}

In [141]:
set_1, set_2

({1, 2, 3, 4, 5}, {1, 2, 4, 5})

In [142]:
set_1.difference(set_2)

{3}